<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons side="end" slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button>
       <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title side="right"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header slot="secondary">
    <ion-toolbar color="success">
      <ion-buttons side="end" slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
        </ion-button>
        <ion-button>
         <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title side="right"> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text color="secondary">
      <h1>Mi párrafo H1</h1>
    </ion-text>
    <ion-text color="primary">
      <h2>Mi párrafo H2</h2>
    </ion-text>
    <ion-text color="warning"> 
      <h3>Mi párrafo H3</h3>
    </ion-text>
    <ion-text color="danger"> 
      <h4>Mi párrafo H4</h4>
    </ion-text>
    <ion-text color="dark"> 
      <h5>Mi párrafo H5</h5>
    </ion-text>
    <ion-text>
      <p color="dark">Un párrafo: "La mayoría del software actual es muy parecido a una pirámide
        egipcia, con millones de ladrillos puestos unos encima de otros sin una estructura
        integral, simplemente realizada a base de fuerza bruta y miles de esclavos</p>
    </ion-text>
  </div></ion-content>
